@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--quick-links-hover-bg: #1e293b;

	--box: radial-gradient(
		109.99% 253.12% at 76.68% 66.67%,
		#602ea6 0%,
		#c977d6 100%
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

input, textarea{
  outline: none ;
  padding-left: 8px;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.animate-textKA span {
	animation: textKA 1s alternate ease-in 1s forwards;
	opacity: 0;
}

@keyframes textKA {
	0% {
		opacity: 0;
		transform: translateY(-180%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.bg-experience {
	background: linear-gradient(
		90.13deg,
		rgba(17, 16, 24, 0) -0.93%,
		rgba(17, 16, 24, 0.51) 99.93%
	);
}

/* background: linear-gradient(180deg, rgba(254, 200, 241, 0.9) -60.85%, rgba(237, 146, 215, 0) 29.56%), radial-gradient(109.99% 253.12% at 76.68% 66.67%, #602EA6 0%, #C977D6 100%);
background-blend-mode: overlay, normal;
box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.6), inset 0px -1px 8px #9375B6, inset 0px 0px 5px #FFACE4;
border-radius: 10px;



background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%);

background-blend-mode: overlay;
 */

.front {
	/* background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset; */
	background: rgba(31, 31, 71, 0.6);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 80px,
		rgba(255, 255, 255, 0.15) 0px 0px 0px 0.5px inset;
}

.back {
	background: linear-gradient(rgb(192, 52, 149) 0%, rgb(76, 36, 214) 100%);
}

/* 
background: rgba(31, 31, 71, 0.6);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.15) 0px 0px 0px 0.5px inset; */

.hexagon {
	/* width: 50px;
      height: 55px; */
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#movable-div {
	transition: all 1s;
}

.move {
	transform: skewY(12deg);
	transform: translateY(0px);
}

.hero-circle {
	animation: spin 25s linear infinite;
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(1turn);
	}
}
.bg-form {
	background-color: rgba(11, 21, 40, 0.7);
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 98, 255, 0.05));
	border: 1px solid rgba(255, 255, 255, 0.05);
	transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	position: relative;
	box-shadow: inset 0 0 60px 40px #0b1528;
}

.line-shine {
	z-index: 4;
	height: 2px;
	opacity: 0.6;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		#58b1e4 52%,
		rgba(0, 0, 0, 0)
	);
	position: absolute;
	left: 0%;
	right: 0%;
	animation-name: shine;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.bg-animation{
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@keyframes shine {
	0% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(200%);
	}
}


.bg-text{
background-image: linear-gradient(136.97deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 111.11%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.bg-links{
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.05%, rgba(0, 0, 0, 0.2) 48.9%), linear-gradient(180deg, rgba(49, 58, 91, 0) -19.57%, #313A5B 98.8%, rgba(49, 58, 91, 0.222222) 130.43%);
filter: drop-shadow(0px 14px 20px rgba(42, 51, 83, 0.8));
}

.bg-icons{
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	background: rgba(255, 255, 255, 0.467);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}